<!DOCTYPE html>
<html>
<head>
	<title>Vue.js Test</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="message">
		<p v-bind:title="message">{{ message + " " + message }}</p>
		<p v-if="seen">REAL</p>
		<p v-else>UnREAL</p>

		<ol>
 			<li v-for="list in todos">{{ list.text }}</li>
 		</ol>


	</div>

<script>
	var app = new Vue({
		el: '#app',
		data: {
			message : 'Hello Vue!',
			todos: [
				{ text: 'one' },
				{ text: 'two' },
				{ text: 'three' }
			],
			seen : false,
			methods: {
				reverseMessage: function () {
					this.message = this.message.split('').reverse().join('')
				}
			}
		}
	})
</script>
</body>
</html>